<?xml version="1.0"?>
<!--
/**
 * This file is part of the Klarna Core module
 *
 * (c) Klarna Bank AB (publ)
 *
 * For the full copyright and license information, please view the NOTICE
 * and LICENSE files that were distributed with this source code.
 */
-->
<config>
    <modules>
        <Klarna_Core>
            <version>1.3.5</version>
        </Klarna_Core>
    </modules>
    <global>
        <models>
            <klarna_core>
                <class>Klarna_Core_Model</class>
                <resourceModel>klarna_core_resource</resourceModel>
            </klarna_core>
            <klarna_core_resource>
                <class>Klarna_Core_Model_Resource</class>
                <entities>
                    <order>
                        <table>klarna_order</table>
                    </order>
                </entities>
            </klarna_core_resource>
        </models>
        <resources>
            <klarna_core_setup>
                <setup>
                    <module>Klarna_Core</module>
                </setup>
            </klarna_core_setup>
        </resources>
        <helpers>
            <klarna_core>
                <class>Klarna_Core_Helper</class>
            </klarna_core>
        </helpers>
        <events>
            <sales_order_payment_capture>
                <observers>
                    <klarna_prepare_capture>
                        <type>singleton</type>
                        <class>klarna_core/observer</class>
                        <method>prepareCapture</method>
                    </klarna_prepare_capture>
                </observers>
            </sales_order_payment_capture>
        </events>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_view_info>Klarna_Core_Block_Adminhtml_Sales_Order_View_Info</sales_order_view_info>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <klarna_notification_url>/klarna/notification</klarna_notification_url>
        </secure_url>
        <routers>
            <klarna_core>
                <use>standard</use>
                <args>
                    <module>Klarna_Core</module>
                    <frontName>klarna</frontName>
                </args>
            </klarna_core>
        </routers>
        <translate>
            <modules>
                <Klarna_Core>
                    <files>
                        <default>Klarna_Core.csv</default>
                    </files>
                </Klarna_Core>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Klarna_Core>
                    <files>
                        <default>Klarna_Core.csv</default>
                    </files>
                </Klarna_Core>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <klarna>
            <api>
                <shared_secret backend_model="adminhtml/system_config_backend_encrypted"/>
                <test_mode>1</test_mode>
            </api>
        </klarna>
    </default>
    <klarna>
        <api_types>
            <kasper>
                <options>
                    <payment_review>1</payment_review>
                    <delayed_push_notification>1</delayed_push_notification>
                </options>
            </kasper>
        </api_types>
        <api_versions>
            <na translate="label">
                <label>v3 North America</label>
                <type>kasper</type>
                <production_url><![CDATA[https://api-na.klarna.com]]></production_url>
                <testdrive_url><![CDATA[https://api-na.playground.klarna.com]]></testdrive_url>
                <options>
                    <separate_tax_line>1</separate_tax_line>
                </options>
            </na>
            <uk translate="label">
                <label>v3 Europe</label>
                <type>kasper</type>
                <production_url><![CDATA[https://api.klarna.com]]></production_url>
                <testdrive_url><![CDATA[https://api.playground.klarna.com]]></testdrive_url>
            </uk>
            <oc translate="label">
                <label>v3 Oceania</label>
                <type>kasper</type>
                <production_url><![CDATA[https://api.klarna.com]]></production_url>
                <testdrive_url><![CDATA[https://api-oc.playground.klarna.com]]></testdrive_url>
            </oc>
        </api_versions>
        <api_post_purchase_types/>
        <api_purchase_types/>
        <order_lines>
            <kasper>
                <items>
                    <class>klarna_core/api_builder_orderline_items</class>
                </items>
                <discount>
                    <class>klarna_core/api_builder_orderline_discount</class>
                </discount>
                <giftcard>
                    <class>klarna_core/api_builder_orderline_giftcard</class>
                </giftcard>
                <customer_balance>
                    <class>klarna_core/api_builder_orderline_customerbalance</class>
                </customer_balance>
                <reward>
                    <class>klarna_core/api_builder_orderline_reward</class>
                </reward>
                <shipping>
                    <class>klarna_core/api_builder_orderline_shipping</class>
                </shipping>
                <tax>
                    <class>klarna_core/api_builder_orderline_tax</class>
                </tax>
                <surcharge>
                    <class>klarna_core/api_builder_orderline_surcharge</class>
                </surcharge>
            </kasper>
        </order_lines>
        <fieldsets>
            <convert_quote_address>
                <prefix>
                    <to_klarna>title</to_klarna>
                </prefix>
                <postcode>
                    <to_klarna>postal_code</to_klarna>
                </postcode>
                <firstname>
                    <to_klarna>given_name</to_klarna>
                </firstname>
                <lastname>
                    <to_klarna>family_name</to_klarna>
                </lastname>
                <street1>
                    <to_klarna>street_address</to_klarna>
                </street1>
                <street2>
                    <to_klarna>street_address2</to_klarna>
                </street2>
                <city>
                    <to_klarna>*</to_klarna>
                </city>
                <telephone>
                    <to_klarna>phone</to_klarna>
                </telephone>
                <country_id>
                    <to_klarna>country</to_klarna>
                </country_id>
                <region_code>
                    <to_klarna>region</to_klarna>
                </region_code>
            </convert_quote_address>
        </fieldsets>
    </klarna>
</config>
