<?xml version="1.0"?>
<!--
/**
 * This file is part of the Klarna Payments module
 *
 * (c) Klarna Bank AB (publ)
 *
 * For the full copyright and license information, please view the NOTICE
 * and LICENSE files that were distributed with this source code.
 */
-->
<config>
    <modules>
        <Klarna_Payments>
            <version>4.4.5</version>
        </Klarna_Payments>
    </modules>
    <global>
        <models>
            <klarna_payments>
                <class>Klarna_Payments_Model</class>
                <resourceModel>klarna_payments_resource</resourceModel>
            </klarna_payments>
            <klarna_payments_resource>
                <class>Klarna_Payments_Model_Resource</class>
                <entities>
                    <quote>
                        <table>klarna_payments_quote</table>
                    </quote>
                </entities>
            </klarna_payments_resource>
        </models>
        <blocks>
            <klarna_payments>
                <class>Klarna_Payments_Block</class>
            </klarna_payments>
        </blocks>
        <helpers>
            <klarna_payments>
                <class>Klarna_Payments_Helper</class>
            </klarna_payments>
            <payment>
                <class>Klarna_Payments_Helper</class>
            </payment>
        </helpers>
        <resources>
            <klarna_payments_setup>
                <setup>
                    <module>Klarna_Payments</module>
                </setup>
            </klarna_payments_setup>
        </resources>
        <events>
            <sales_quote_payment_import_data_before>
                <observers>
                    <klarna_payments_method>
                        <type>singleton</type>
                        <class>klarna_payments/observer</class>
                        <method>adjustPaymentMethodCode</method>
                    </klarna_payments_method>
                </observers>
            </sales_quote_payment_import_data_before>
            <checkout_submit_all_after>
                <observers>
                    <klarna_payments_send_email>
                        <type>singleton</type>
                        <class>klarna_payments/observer</class>
                        <method>checkoutSubmitAfterAllSendOrderEmail</method>
                    </klarna_payments_send_email>
                    <klarna_payments_record_payment_type>
                        <type>singleton</type>
                        <class>klarna_payments/observer</class>
                        <method>recordPaymentType</method>
                    </klarna_payments_record_payment_type>
                </observers>
            </checkout_submit_all_after>
            <checkout_quote_destroy>
                <observers>
                    <klarna_payments_checkout_session_clear>
                        <type>singleton</type>
                        <class>klarna_payments/observer</class>
                        <method>checkoutSessionClear</method>
                    </klarna_payments_checkout_session_clear>
                </observers>
            </checkout_quote_destroy>
            <klarna_core_client_user_agent_string>
                <observers>
                    <klarna_payments_ua>
                        <class>klarna_payments/observer</class>
                        <method>klarnaCoreClientUserAgentString</method>
                    </klarna_payments_ua>
                </observers>
            </klarna_core_client_user_agent_string>
            <klarna_payments_request_create_after>
                <observers>
                    <klarna_check_order_total_osc>
                        <type>singleton</type>
                        <class>klarna_payments/observer</class>
                        <method>checkOrderTotalForOsc</method>
                    </klarna_check_order_total_osc>
                </observers>
            </klarna_payments_request_create_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <klarna_payments>
                    <file>klarna_payments.xml</file>
                </klarna_payments>
            </updates>
        </layout>
        <translate>
            <modules>
                <Klarna_Payments>
                    <files>
                        <default>Klarna_Payments.csv</default>
                    </files>
                </Klarna_Payments>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Klarna_Payments>
                    <files>
                        <default>Klarna_Payments.csv</default>
                    </files>
                </Klarna_Payments>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <klarna_payments>
                <model>klarna_payments/payment_payments</model>
                <title><![CDATA[{{klarna}} Klarna]]></title>
                <active>0</active>
                <allowspecific>0</allowspecific>
                <order_status>processing</order_status>
                <data_sharing>1</data_sharing>
            </klarna_payments>
        </payment>
    </default>
    <klarna>
        <api_purchase_types>
            <klarna_payments translate="label">
                <label>Klarna Payments</label>
                <type>kasper</type>
                <class>klarna_payments/api_kasper_purchase</class>
            </klarna_payments>
        </api_purchase_types>
        <attachments>
            <default>
                <class>klarna_payments/payment_attachment_default</class>
            </default>
        </attachments>
    </klarna>
</config>
